extends includes/main.pug

block auth
    .header_men_pic_main
        a Log In
    .header_basket_main
        a Basket (0)
    .header_find_main

block content
    .wrapper
        .article_head
            h1 Hazy Shade of spring
            p Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo.
            button check new arrivals
        .content_block
            .block.block1
                h3 HEATHER GREY BASICS
                p New Arrival
            .block.block2
                h3  Opening Ceremony @IndonesiaFW tomorrow, PMers! Are you ready for the biggest fashion movement in
                p @PuspitaMarthaID
            .block.block3
            .block.block4
                h3 elegant shoes
                p BRAIDED LEATHER
            .block.block5
                h3 chuck taylors
                p $125.00
            .block.block6
                h3 Girls, Girls, Girls: A Look Back at 50 Years of the Pirelli Calendar
                p @Vogue
            .block.block7
            .block.block8
                h3 Jaxon Hat
                p Beanie Hat
            .block.block9
                h3 basic blazer
                p from $199.00
            .block.block10
                h3 jeans for ADVENTURE
                p New Arrival
        .sign
            h2 sign up to receive our updates
            p Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat.
            input(type="text" value="Your e-mail")
            button add


